<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>페이지</title>
</head>
<body>
<table border="1">
    <tr>
        <td>제목</td>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <td>작성자</td>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <td>등록날짜</td>
        <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
        <td>조회수</td>
        <td th:text="${board.boardHit}"></td>
    </tr>
    <tr>
        <td>내용</td>
        <td th:text="${board.boardContent}"></td>
    </tr>
</table>
<th:block th:if="${emp.emp_id == board.empId}">
    <a th:href = "@{/board/boardupdate/{boardNum}(boardNum=${board.boardNum})}">수정하기</a>
</th:block>
<th:block th:if="${emp.emp_id == board.empId or emp.dept_num >= 40}">
    <a th:href = "@{/board/boarddelete/{boardNum}(boardNum=${board.boardNum})}">삭제하기</a>
    <th:block th:if="${board.boardDivision == 'Q&A'}">
        <a th:href = "@{/board/replywrite/{boardNum}(boardNum=${board.boardNum})}">답변달기</a>
    </th:block>
</th:block>
</th:block>
<a th:href = "@{/board/boardmain}">뒤로가기</a>
</body>
</html>