<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav id="nav2">
        <h1>Ownote</h1>
        <ul class="navbar-menu">
            <li> <a th:href="@{emp/logIn}" >로그인</a> </li>
            <li> <a href="/logout">로그아웃</a> </li>
        </ul>
    </nav>
</header>
<aside class="side-bar">
    <ul>
        <li>
            <a th:href="@{#}"></i>인사</a>
            <ul>
                <li><a th:href="@{/emp/signUp}">사원등록</a></li>
                <li><a th:href="@{#}">text2</a></li>
                <li><a th:href="@{#}">text3</a></li>
                <li><a th:href="@{#}">text4</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">연차</a>
            <ul>
                <li><a th:href="@{#}">연차 신청 </a></li>
                <li><a th:href="@{#}">연차 확인</a></li>
                <li><a th:href="@{#}">연차 승인</a></li>
                <li><a th:href="@{#}">연차 수량</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{/board/boardmain}">게시판</a>
            <ul>
                <li><a th:href="@{/board/noticeList}">공지사항</a></li>
                <li><a th:href="@{/board/forumList}">자유게시판</a></li>
                <li><a th:href="@{/board/qaList}">Q&A</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">자유</a>
            <ul>
                <li><a th:href="@{#}">text1</a></li>
                <li><a th:href="@{#}">text2</a></li>
                <li><a th:href="@{#}">text3</a></li>
                <li><a th:href="@{#}">text4</a></li>
            </ul>
        </li>
        <li><a th:href="@{/emp/adress}">주소록</a></li>
    </ul>
</aside>

<form th:action="@{/board/boardwrite}" method="post">
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" id="boardTitle" name="boardTitle" /></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="boardWriter" th:value="${emp.emp_name}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>작성할 게시판</td>
            <td>
                <select id="boardDivision" name="boardDivision" >
                    <th:block th:if="${emp.grade_num >= 3 or emp.dept_num == 40}">
                        <option value="공지사항">공지사항</option>
                    </th:block>
                    <option value="자유게시판">자유게시판</option>
                    <option value="Q&A">Q&A</option>
                </select>
            </td>
            <th:block th:if="${emp.grade_num >= 3 or emp.dept_num == 40}">
                <td><input type="checkbox" name="boardImportant" id="boardImportant">공지사항 중요!</td>
            </th:block>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea type="text" id="boardContent" name="boardContent"  cols="100" rows="50"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="글 등록" id="submit1" >
</form>
<button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
<script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/boardCheck.js"></script>
</body>
</html>