<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 게시판</title>
</head>
<body>
<form th:action="@{/board/findLike}" method="post">
    <select id="boardDivision" name="boardDivision">
        <option value="공지사항">공지사항</option>
        <option value="자유게시판">자유게시판</option>
        <option value="Q&A">Q&A</option>
    </select>
    <input type="text" name="find" />
    <button type="submit">검색</button>
</form>
<table border="1" >
    공지사항
    <a th:href = "@{/board/noticeList}">+</a>
    <thead>
        <tr>
            <td>글 번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>등록날짜</td>
            <td>조회수</td>
        </tr>
    </thead>
    <tbody th:each="board : ${boardNotice}">
        <tr>
            <th:block th:if="${board.boardImportant == 1}"><td th:text="중요" /></th:block>
            <th:block th:if="${board.boardImportant != 1}"><td th:text="${board.boardNum}"></td></th:block>
            <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.boardHit}"></td>
        </tr>
    </tbody>
</table>

<table border="1" >
    자유게시판
    <a th:href = "@{/board/forumList}">+</a>
    <thead>
    <td>글 번호</td>
    <td>제목</td>
    <td>작성자</td>
    <td>등록날짜</td>
    <td>조회수</td>
    </thead>
    <tbody th:each="board : ${boardForum}">
        <tr>
            <td th:text="${board.boardNum}"></td>
            <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.boardHit}"></td>
        </tr>
    </tbody>
</table>

<table border="1" >
    Q&A
    <a th:href = "@{/board/qaList}">+</a>
    <thead>
    <td>글 번호</td>
    <td>제목</td>
    <td>작성자</td>
    <td>등록날짜</td>
    <td>조회수</td>
    </thead>
    <tbody th:each="board : ${boardQa}">
        <tr>
            <th:block th:if="${board.hierarchyNum > 0}">
                <th:block th:if="${board.hierarchyNum % 2 == 1}"><td th:text="답변" /></th:block>
                <th:block th:if="${board.hierarchyNum % 2 == 0}"><td th:text="재질문" /></th:block>
            </th:block>
            <th:block th:if="${board.hierarchyNum == 0}">
                <td th:text="${board.boardNum}"></td>
            </th:block>
            <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${board.boardHit}"></td>
        </tr>
    </tbody>
</table>
<button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
</body>
</html>