<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>페이지</title>
</head>
<body>
<table border="1">
    <tr>
        <td>제목</td>
        <td th:text="${board.boardTitle}"></td>
    </tr>
    <tr>
        <td>작성자</td>
        <td th:text="${board.boardWriter}"></td>
    </tr>
    <tr>
        <td>등록날짜</td>
        <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
        <td>조회수</td>
        <td th:text="${board.boardHit}"></td>
    </tr>
    <tr>
        <td>내용</td>
        <td>
            <textarea th:text="${board.boardContent}" readonly="readonly" cols="100" rows="50"></textarea>
        </td>
    </tr>
</table>
<th:block th:if="${mainCheck != '1'}">
    <th:block th:if="${emp.emp_id == board.empId}">
        <button type="button" th:onclick="|location.href='@{/board/boardupdate/{boardNum}(boardNum=${board.boardNum})}'|">수정하기</button>
    </th:block>
    <th:block th:if="${emp.emp_id == board.empId or emp.dept_num == 40}">
        <button type="button" th:onclick="|location.href='@{/board/boarddelete/{boardNum}(boardNum=${board.boardNum})}'|">삭제하기</button>
    </th:block>
    <th:block th:if="${board.boardDivision == 'Q&A' and (board.hierarchyNum % 2 == 0) and emp.dept_num == 40 and (board.hierarchyNum == maxHierarchynum)}">
        <button type="button" th:onclick="|location.href='@{/board/replywrite/{boardNum}(boardNum=${board.boardNum})}'|">답변하기</button>
    </th:block>
    <th:block th:if="${board.boardDivision == 'Q&A' and (board.hierarchyNum % 2 == 1) and emp.emp_id == board.PEmpId and (board.hierarchyNum == maxHierarchynum)}">
        <button type="button" th:onclick="|location.href='@{/board/replywrite/{boardNum}(boardNum=${board.boardNum})}'|">질문하기</button>
    </th:block>
</th:block>
<button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
</body>
</html>