<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
</head>
<body>
<form th:action="@{/board/boardupdate/{boardNum}(boardNum=${board.boardNum})}" method="post">
    <input type="hidden" id="boardNum" name="boardNum" th:value="${board.boardNum}" />
    <table>
        <tr>
            <td>제목</td>
            <td><input type="text" name="boardTitle" th:value="${board.boardTitle}" /></td>
        </tr>
        <tr>
            <td>작성자</td>
            <td><input type="text" name="boardWriter" th:value="${emp.emp_name}" readonly="readonly" /></td>
        </tr>
        <tr>
            <td>작성할 게시판</td>
            <td>
                <select id="boardDivision" name="boardDivision" >
                    <th:block th:switch="${board.boardDivision}">
                        <option th:case="공지사항" value="공지사항">공지사항</option>
                        <option th:case="자유게시판" value="자유게시판">자유게시판</option>
                        <option th:case="'Q&A'" value="Q&A">Q&A</option>
                    </th:block>
                </select>
            </td>
            <th:block th:if="${board.boardDivision == '공지사항'}">
                <td><input type="checkbox" name="boardImportant" id="boardImportant">공지사항 중요!</td>
            </th:block>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea type="textarea" name="boardContent"  cols="100" rows="50" th:text="${board.boardContent}"></textarea></td>
        </tr>
    </table>
    <input type="submit" value="글 등록" id="submit2"/>
</form>
<button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/boardCheck.js"></script>
</body>
</html>