<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/board/findLike}">
    <select id="boardDivision" name="boardDivision" >
        <option value="전체">전체</option>
        <option value="공지사항">공지사항</option>
        <option value="자유게시판">자유게시판</option>
        <option value="Q&A">Q&A</option>
    </select>
    <input type="text" name="find" />
    <button type="submit">검색</button>
</form>
<table border="1">
    검색 후 게시판
    <thead>
    <th>글 번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>등록날짜</th>
    <th>조회수</th>
    </thead>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.boardNum}"></td>
        <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${board.boardHit}"></td>
    </tr>
</table>
</body>
</html>