<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>회사뉴스및공지</title>
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/board.css">
        </head>
        <body>

        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form th:action="@{/board/findLike}" method="post">
                        <div class="search-wrap">
                            <div class="select">
                                <select id="boardDivision" name="boardDivision">
                                    <option value="회사뉴스및공지">회사뉴스 및 공지</option>
                                </select>
                            </div>
                            <label for="search" class="blind">제목 검색</label>
                            <input id="search" type="search" name="find" placeholder="검색어를 입력해주세요."/>
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="board_wrap">
            <div class="title-text">
                <div class="title_board">
                    <strong>회사뉴스 및 공지</strong>
                </div>
            </div>
            <div class="board_list">
                <table>
                    <thead>
                    <tr>
                        <th>글 번호</th>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>등록날짜</th>
                        <th>조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:if="${boardPage.content == null or boardPage.content.isEmpty()}">
                        <tr>
                            <td colspan="5">게시글이 없습니다.</td>
                        </tr>
                    </th:block>
                    <tr th:each="board : ${boardPage.content}">
                        <th:block th:if="${board.boardImportant == 1}"><td th:text="중요" /></th:block>
                        <th:block th:if="${board.boardImportant != 1}"><td th:text="${board.boardNum}"></td></th:block>
                        <td th:text="${board.boardWriter}"></td>
                        <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
                        <td th:text="${#temporals.format(board.boardRegDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${board.boardHit}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <th:block th:if="${boardPage.hasArticles()}">
                            <tr>
                                <td colspan="5">
                                    <th:block th:if="${boardPage.currentPage > 1}">
                                        <a th:href = "@{/board/noticeList(pageNo=${boardPage.currentPage - 1})}">[이전]</a>
                                    </th:block>
                                    <th:block th:each="pNo : ${#numbers.sequence(boardPage.startPage, boardPage.endPage)}">
                                        <a th:href="@{/board/noticeList(pageNo=${pNo})}" th:text="${pNo}"></a>
                                    </th:block>
                                    <th:block th:if="${boardPage.currentPage < boardPage.totalPages}">
                                        <a th:href = "@{/board/noticeList(pageNo=${boardPage.currentPage + 1})}">[다음]</a>
                                    </th:block>
                                </td>
                            </tr>
                        </th:block>
                    </tfoot>
                </table>
            </div>
            <div class="buttons">
                <th:block th:if="${emp.grade_num >= 3 or emp.dept_num == 40}">
                    <button type="button" th:onclick="|location.href='@{/board/boardwriteform}'|">글쓰기</button>
                </th:block>
            </div>
        </div>
        <button type="button" onclick="location.href='/' ">뒤로가기</button>
        <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
        </body>
    </th:block>
</th:block>
</html>