/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html{*/
/*    font-size: 15px;*/
/*}*/

a {
    text-decoration: none;
    color: inherit;
}

.board{
    width: 1000px;
    margin: 100px auto;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #61adf6;
}
.input{
    border: 2px solid black; /* 테두리 스타일과 두께 설정 */
    border-radius: 10px; /* 꼭짓점을 둥글게 만드는 속성 */
    width: 100%; /* 가로 폭을 100%로 설정하여 컨테이너에 맞게 확장 */
    padding: 10px; /* 내용과 테두리 사이의 간격 설정 */
}

.title_board{
    margin-bottom: 30px;
}
.str {
    font-size: 1.5rem;
    margin: 10px;
}
.title_board p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.buttons {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.buttons a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;

    background: black;
    color: white;
}

.board_list {
    width: 100%;
    border-top: 2px solid #61adf6;
    border-bottom: 2px solid #61adf6;

}

.board_list > table > thead {
    border-bottom: 10px solid #999999;
}


th, td {
    padding: 8px; /* 셀 안의 여백 설정 */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 400px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 200px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: center;
    width: 90px;
}
th:nth-child(4),
td:nth-child(4) {
    text-align: center;

}

th:nth-child(5),
td:nth-child(5) {
    text-align: center;

}
th:nth-child(6),
td:nth-child(6) {
    text-align: center;

}

tfoot {
    background-color: #f2f2f2; /* 풋터 배경색 설정 */
    text-align: center;
}

