<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ownote.board.dao.BoardMapper">
    <select id="selectAll" resultType="com.project.ownote.board.dto.Board">
        select board_num as boardNum, board_title as boardTitle, board_content as boardContent, board_writer as boardWriter, board_division as boardDivision, board_regdate as boardregDate, board_hit as boardHit, board_important as boardImportant, parent_num as parentNum, hierarchy_num as hierarchyNum, pemp_id as pEmpId, emp_id as empId from board order by board_num desc
    </select>
    <select id="selectByNum" parameterType="java.lang.Long" resultType="com.project.ownote.board.dto.Board">
        select board_num as boardNum, board_title as boardTitle, board_content as boardContent, board_writer as boardWriter, board_division as boardDivision, board_regdate as boardregDate, board_hit as boardHit, board_important as boardImportant, parent_num as parentNum, hierarchy_num as hierarchyNum, pemp_id as pEmpId, emp_id as empId from board where board_num = #{boardNum}
    </select>
    <insert id="write" parameterType="com.project.ownote.board.dto.Board">
        insert into board (board_title, board_writer, board_division, board_content, board_regdate, board_hit, board_important, parent_num, hierarchy_num, pemp_id, emp_id)
        values (#{board.boardTitle}, #{board.boardWriter}, #{board.boardDivision}, #{board.boardContent}, now(), 0, #{board.boardImportant}, 0, 0, #{empId}, #{empId})
    </insert>

    <update id="update" parameterType="com.project.ownote.board.dto.Board">
        update board set board_title = #{boardTitle}, board_content = #{boardContent}, board_division = #{boardDivision}, board_regdate = now(), board_important = #{boardImportant} where board_num = #{boardNum}
    </update>
    <delete id="deleteBoardNum" parameterType="Long">
        delete from board where board_num = #{boardNum}
    </delete>
    <delete id="deleteParentNum" parameterType="Integer">
        delete from board where parent_num = #{parentNum}
    </delete>
    <update id="hitPlus" parameterType="java.lang.Long">
        update board set board_hit = board_hit + 1 where board_num = #{boardNum}
    </update>
    <select id="maxBoardNum" resultType="Long">
        select max(board_num) from board
    </select>
    <update id="parentNumUpdate" parameterType="Long">
        update board set parent_num = #{boardNum} where board_num = #{boardNum}
    </update>
    <insert id="replyWrite" parameterType="com.project.ownote.board.dto.Board">
        insert into board (board_title, board_writer, board_division, board_content, board_regdate, board_hit, board_important, parent_num, hierarchy_num, pemp_id, emp_id)
        values (#{board.boardTitle}, #{board.boardWriter}, #{board.boardDivision}, #{board.boardContent}, now(), 0, #{board.boardImportant}, #{parentNum}, #{hierarchyNum}, #{pEmpId}, #{empId})
    </insert>
    <select id="selectCount1" resultType="Integer">
        select count(*) from board where board_division = #{boardDivision}
    </select>
    <select id="selectCount2" resultType="Integer">
        SELECT COUNT(*)
        FROM board
        <choose>
            <when test="boardDivision == '전체'">
                <if test="searchOption == '전체'">
                    where (board_title LIKE #{find} OR board_writer LIKE #{find} OR board_content LIKE #{find})
                </if>
                <if test="searchOption == '제목'">
                    where board_title LIKE #{find}
                </if>
                <if test="searchOption == '작성자'">
                    where board_writer LIKE #{find}
                </if>
                <if test="searchOption == '내용'">
                    where board_content LIKE #{find}
                </if>
                <if test="searchOption == '제목+내용'">
                    where (board_title LIKE #{find} OR board_content LIKE #{find})
                </if>
            </when>
            <otherwise>
                where board_division = #{boardDivision}
                <if test="searchOption == '전체'">
                    AND (board_title LIKE #{find} OR board_writer LIKE #{find} OR board_content LIKE #{find})
                </if>
                <if test="searchOption == '제목'">
                    AND board_title LIKE #{find}
                </if>
                <if test="searchOption == '작성자'">
                    AND board_writer LIKE #{find}
                </if>
                <if test="searchOption == '내용'">
                    AND board_content LIKE #{find}
                </if>
                <if test="searchOption == '제목+내용'">
                    AND (board_title LIKE #{find} OR board_content LIKE #{find})
                </if>
            </otherwise>
        </choose>
    </select>
    <select id="select1" resultType="com.project.ownote.board.dto.Board">
        select * from board order by board_num desc limit #{startRow}, #{size}
    </select>
    <select id="select2" resultType="com.project.ownote.board.dto.Board">
        select board_num as boardNum, board_title as boardTitle, board_content as boardContent, board_writer as boardWriter, board_division as boardDivision, board_regdate as boardregDate, board_hit as boardHit, board_important as boardImportant, parent_num as parentNum, hierarchy_num as hierarchyNum, pemp_id as pEmpId, emp_id as empId
        from board
        <where>
            <choose>
                <when test="boardDivision == '회사뉴스및공지'">
                    board_division = '회사뉴스및공지' order by board_important desc, board_num desc limit #{startRow}, #{size}
                </when>
                <when test="boardDivision == '자유게시판'">
                    board_division = '자유게시판' order by board_num desc limit #{startRow}, #{size}
                </when>
                <when test="boardDivision == '사내시스템/F&amp;Q'">
                    board_division = '사내시스템/F&amp;Q' order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                </when>
            </choose>
        </where>
    </select>
    <select id="select3" resultType="com.project.ownote.board.dto.Board">
        select board_num as boardNum, board_title as boardTitle, board_content as boardContent, board_writer as boardWriter, board_division as boardDivision, board_regdate as boardregDate, board_hit as boardHit, board_important as boardImportant, parent_num as parentNum, hierarchy_num as hierarchyNum, pemp_id as pEmpId, emp_id as empId
        from board
        <where>
            <choose>
                <when test="boardDivision == '전체'">
                    <if test="searchOption == '전체'">
                        (board_title like #{find} or board_writer like #{find} or board_content like #{find}) order by board_important desc, parent_num desc, hierarchy_num, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목'">
                        board_title like #{find} order by board_important desc, parent_num desc, hierarchy_num, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '작성자'">
                        board_writer like #{find} order by board_important desc, parent_num desc, hierarchy_num, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '내용'">
                        board_content like #{find} order by board_important desc, parent_num desc, hierarchy_num, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목+내용'">
                        (board_title like #{find} or board_content like #{find}) order by board_important desc, parent_num desc, hierarchy_num, board_num desc limit #{startRow}, #{size}
                    </if>
                </when>
                <when test="boardDivision == '회사뉴스및공지'">
                    <if test="searchOption == '전체'">
                        board_division = '회사뉴스및공지' and (board_title like #{find} or board_writer like #{find} or board_content like #{find}) order by board_important desc, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목'">
                        board_division = '회사뉴스및공지' and board_title like #{find} order by board_important desc, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '작성자'">
                        board_division = '회사뉴스및공지' and board_writer like #{find} order by board_important desc, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '내용'">
                        board_division = '회사뉴스및공지' and board_content like #{find} order by board_important desc, board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목+내용'">
                        board_division = '회사뉴스및공지' and (board_title like #{find} or board_content like #{find}) order by board_important desc, board_num desc limit #{startRow}, #{size}
                    </if>
                </when>
                <when test="boardDivision == '자유게시판'">
                    <if test="searchOption == '전체'">
                        board_division = '자유게시판' and (board_title like #{find} or board_writer like #{find} or board_content like #{find}) order by board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목'">
                        board_division = '자유게시판' and board_title like #{find} order by board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '작성자'">
                        board_division = '자유게시판' and board_writer like #{find} order by board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '내용'">
                        board_division = '자유게시판' and board_content like #{find} order by board_num desc limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목+내용'">
                        board_division = '자유게시판' and (board_title like #{find} or board_content like #{find}) order by board_num desc limit #{startRow}, #{size}
                    </if>
                </when>
                <when test="boardDivision == '사내시스템/F&amp;Q'">
                    <if test="searchOption == '전체'">
                        board_division = '사내시스템/F&amp;Q' and (board_title like #{find} or board_writer like #{find} or board_content like #{find}) order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목'">
                        board_division = '사내시스템/F&amp;Q' and board_title like #{find} order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '작성자'">
                        board_division = '사내시스템/F&amp;Q' and board_writer like #{find} order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '내용'">
                        board_division = '사내시스템/F&amp;Q' and board_content like #{find} order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                    </if>
                    <if test="searchOption == '제목+내용'">
                        board_division = '사내시스템/F&amp;Q' and (board_title like #{find} or board_content like #{find}) order by parent_num desc, hierarchy_num limit #{startRow}, #{size}
                    </if>
                </when>
            </choose>
        </where>
    </select>
    <select id="selectEmp" resultType="com.project.ownote.emp.login.dto.Emp">
        select * from emp where emp_id = #{empId}
    </select>
    <select id="maxHierarchyNum" resultType="Integer">
        select max(hierarchy_num) from board where parent_num = #{parentNum}
    </select>
</mapper>
